# Environment Variables
venv/
.venv/
.vscode/
defs/

# Python
__pycache__/
cJSON-master/

# Outputs
TemporalSecretary.dll
dump.txt
debug.log

# Python Scripts for Processing Files
process_dump.py
process_spritesheet.py
rewrite.py

# Save files
savs/

# Other
pokeplat/
sprites/
gen1.png
gen2.png
gen3.png
gen4.png
sprites.zip
bugs.txt
illuminate.lua
MemorySafetySurvey.lua
TODO.txt
save_edit.py